im

body {
  font: 20px "Century Gothic", Futura, sans-serif;
  margin-top: 50px;
}

ol, ul {
  padding-left: 30px;
}

.board-row {
  /* display: flex;
  clear: both;
  content: center;
  display: table;
  align-items: center; */
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 2px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 65px;
  height: 65px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0px;
  width: 65px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game-board {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.game-info {
  margin-left: 20px;
}

.btn-danger {
  margin-top: 15px;
  width: 80px;
}
